<main class="map-area"
      data-sidebar-target="mapArea"
      data-controller="map"
      data-map-token-value="<%= ENV.fetch("MAPBOX_TOKEN", "") %>">

  <div id="map" class="map" data-map-target="mapContainer"></div>

  <%# Botones flotantes (derecha) %>
  <div class="map-fab">
    <button type="button" class="map-fab__btn" aria-label="Mapa">
      <i class="fa-solid fa-map"></i>
    </button>

    <button type="button" class="map-fab__btn" aria-label="Gráfico">
      <i class="fa-solid fa-chart-bar"></i>
    </button>

    <button type="button"
            class="map-fab__btn"
            aria-label="Leyenda"
            data-action="click->map#toggleLegend"
            data-map-target="legendBtn"
            hidden>
      <i class="fa-solid fa-list"></i>
    </button>
  </div>

  <% if user_signed_in? %>
  <div class="mode-toggle"
      data-controller="mode-toggle"
      data-mode-toggle-mode-value="constructor"
      data-sidebar-target="modeToggle"
      hidden>
    <button type="button"
            class="mode-toggle__btn"
            data-mode-toggle-target="btn"
            data-mode="constructor"
            data-action="click->mode-toggle#select">
      Constructor
    </button>

    <button type="button"
            class="mode-toggle__btn"
            data-mode-toggle-target="btn"
            data-mode="comparador"
            data-action="click->mode-toggle#select">
      Comparador
    </button>
  </div>
  <% end %>


  <div class="map-legend" data-map-target="legendPanel" hidden>
    <div class="map-legend__title">Leyenda</div>
    <div class="map-legend__items" data-map-target="legendItems"></div>
  </div>
</main>
