.map {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.mapboxgl-ctrl-top-right {
  right: 10px !important;   /* mismo right que tus botones */
  top: 70px !important;  /* para que no choque con tus 3 FAB */
}
